{{ template "base" . }}
{{ define "content" }}
<div class="container">
    <h1>{{.HeaderText}}</h1>
    <p>{{.Greeting}}</p>
    
    <p>{{.PageDescription}}</p>
    <div class="buttons">
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/signup'">Sign Up</button>
    </div>
</div>
{{ end }}
