{{ template "base" . }}
{{ define "content" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V-Coach Interview</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .form-container {
            width: 300px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h2 {
            text-align: center;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
        }
        .form-container input {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
        }
        .form-container button:hover {
            background-color: #218838;
        }
        .form-container p {
            text-align: center;
        }
        .form-container a {
            color: #007bff;
            text-decoration: none;
        }
        .form-container a:hover {
            text-decoration: underline;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .error {
            color: red;
            font-size: 0.875em;
        }
    </style>
</head>
<div class="form-container">
  <h2>Login to V-Coach</h2>

  <form method="POST" action="/loginuser" nonvalidate>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{index .FormValues "email"}}">
        {{with index .FormErrors "email"}}<span class="error">{{.}}</span>{{end}}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        {{with index .FormErrors "password"}}<span class="error">{{.}}</span>{{end}}
    </div>
   
    <button type="submit">Log In</button>
  </form>
  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
{{ end }}