{{ template "base" . }}
{{ define "content" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V-Coach Interview</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .form-container {
            width: 300px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h2 {
            text-align: center;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
        }
        .form-container input {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
        }
        .form-container button:hover {
            background-color: #218838;
        }
        .form-container p {
            text-align: center;
        }
        .form-container a {
            color: #007bff;
            text-decoration: none;
        }
        .form-container a:hover {
            text-decoration: underline;
        }
    </style>
<div class="form-container">
  <h2>Sign Up for V-Coach</h2>
 <form method="POST" action="/user/signup">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" >

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" >

<label for ="age">Age:</label>
  <input type="number" id="age" name="age" >

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" >
    <label for="confirm_password">Confirm Password:</label>

  <label for="school">School:</label>
<select id="school" name="school_id" style="width: 90%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc;">
    {{ range .Schools }}
        <option value="{{ .ID }}">{{ .Name }}</option>
    {{ end }}
</select>
  </select>
    <label for="role">Role:</label>
    <select id="role" name="role" style="width: 50%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc;">
        <option value="teacher">Teacher</option>
        <option value="coach">Coach</option>
    </select>

  <button type="submit">Sign Up</button>
</form>
    <p>Already have an account? <a href="/login">Login here</a></p>
    {{ if .FormErrors }}
        <p style="color: red;">{{ .FormErrors }}</p>
    {{ end }}

</div>
{{ end }}
